* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* aka 10px */
}

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: myFirstFont;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #202020;
  /* background-image: url(../../images/Circles_wide-blue-1.png); */
  /* background-image: linear-gradient(to right bottom, #372fced0, #a647f4d0); */
  /* background-image: linear-gradient(to right bottom, #372fced0, #a647f4d0),
    url(../../images/bg.jpg); */
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  /* margin: 0 6%; */
}

h2 {
  /* text-transform: uppercase; */
  font-weight: 300;
  font-size: 2rem;
  /* line-height: 2; */
}

p {
  margin-bottom: 1.5rem;
}

img {
  max-width: 80%;
  height: auto;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  height: 100vh;
  position: relative;
  background-image: url(../../images/Circles_wide-blue-1.png);
}

.heading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  /* color: #e4eaef; */
  color: #fff;
  /* text-transform: uppercase; */
  margin-bottom: 6rem;
  backface-visibility: hidden;
}

.heading-main {
  display: block;
  font-size: 4.1rem;
  font-weight: 300;
  /* letter-spacing: 2rem; */
  animation: moveInLeft 1s ease-out;
}

.sub-heading {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  /* letter-spacing: 1.4rem; */

  animation: moveInRight 1s ease-out;
}

.nav-box {
  list-style-type: none;
  /* text-transform: uppercase; */
  /* font-family: boldFont; */
  font-size: 2.5rem;
  /* font-weight: 100; */
  color: #fff;
  animation: moveInBottom 1s ease-out;
  animation-fill-mode: backwards;
  margin-top: 6rem;
}

.nav-item {
  display: inline;
  margin: 1rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  /* columns: #73b9ff; */
  color: #b4d7ff;
}

.section {
  background-color: #fff;
  padding: 5rem 10% 5rem 10%;
  font-size: 1.6rem;
}

.section h2 {
  color: #202020;
  font-family: boldFont;
}

.section-alt {
  /* background-image:
    linear-gradient(
      to right bottom,
      #696969d0,
      #252525d0); */
  /* background-color: #b4d7ff; */
  background-color: #73b9ff;
  /* background-image: url(../../images/Circles_wide-blue-1.png); */

  padding: 5rem 10% 5rem 10%;
  font-size: 1.6rem;
  color: #202020;
}

.section-alt2 {
  /* background-image:
    linear-gradient(
      to right bottom,
      #696969d0,
      #252525d0); */
  /* background-color: #b4d7ff; */
  background-color: #b4d7ff;
  /* background-image: url(../../images/Circles_wide-blue-1.png); */

  padding: 5rem 10% 5rem 10%;
  font-size: 1.6rem;
  color: #202020;
}

.section-heading {
  margin-bottom: 3rem;
  font-family: boldFont;

  /* text-transform: uppercase; */
}

.icons {
  word-spacing: 1rem;
}

.icons a {
  color: #e4eaef;
}

.icons a:hover {
  color: #73b9ff;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-form {
  width: 75%;
}

input,
textarea {
  font-family: 'myFirstFont';
  font-weight: 400;
  font-size: 1.6rem;
  width: 100%;
  height: 3.4rem;
  border-radius: 0.5rem;
  color: #202020;
  background-color: rgba(255, 255, 255, 0.76);
  margin: 1rem 0;
  padding: 1rem;
  border: none;
}

textarea {
  height: 10rem;
}

.btn {
  width: 15rem;
  height: 4rem;
  color: #202020;
  background-color: #e4eaef;
  border: none;
}

.btn2 {
  width: 15rem;
  height: 4rem;
  color: #202020;
  background-color: #e4eaef;
  border: none;
}

.btn:hover {
  cursor: pointer;
  /* color: #e4eaef; */
  background-color: #b4d7ff;
}

.btn2:hover {
  cursor: pointer;
  /* color: #e4eaef; */
  background-color: #73b9ff;
}

.links {
  letter-spacing: 2.5rem;
  font-size: 1.6rem;
}

.links a {
  color: #fff;
}

.links a:hover {
  color: #b4d7ff;
}

.footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
}

@font-face {
  font-family: 'myFirstFont';
  src: url('/fonts/circular-book.woff') format('woff');
}

@font-face {
  font-family: 'boldFont';
  src: url('/fonts/circular-black.woff') format('woff');
}

/* ANIMATIONS */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1000px) {
  .skills-content {
    flex-direction: column;
  }

  .nav-box {
    /* font-weight: 200; */
    /* visibility: hidden; */

    font-size: 1.5em;
  }

  .sub-heading {
    /* letter-spacing: 1.5rem; */
    font-size: 1em;
  }

  .project-item {
    flex-direction: column;
  }

  .project-content {
    padding-left: 0;
  }

  .contact-form {
    width: 80%;
  }
  /* .btn {
    width: 100%;
    height: 3em;
    display: block;
  } */
}

@media screen and (max-width: 650px) {
  .nav-box {
    font-size: 1em;
  }
}

@media screen and (max-width: 510px) {
  .nav-box {
    visibility: hidden;
  }
}

@media screen and (max-width: 375px) {
  body {
    margin: 0;
  }

  .nav-box {
    visibility: hidden;
    /* font-size: 1.5 em; */
  }

  .heading-main {
    /* letter-spacing: 1.5rem; */
    font-size: 1.5em;
  }

  .sub-heading {
    font-size: 1em;
  }

  .contact-form {
    width: 100%;
  }
  /* .btn {
    width: 100%;
    height: 3em;
    display: block;
  } */
}
